@font-face {
    font-family: 'Buyan';
    src: url('Buyan-Thin.woff2') format('woff2'),
        url('Buyan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Buyan';
    src: url('Buyan-Regular.woff2') format('woff2'),
        url('Buyan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

